body {
  margin: 0;
  padding: 0;
}

.dropdown-container {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 10px 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-container label {
  margin-bottom: 8px;
  font-weight: 600;
}

.dropdown-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  font-family: inherit;
}

.directions-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 450px !important;
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 600px) {
  .dropdown-container,
  .directions-container {
    padding: 8px 10px;
  }

  .dropdown-container select,
  .directions-container select {
    font-size: 14px;
  }
}

.custom-attribution {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
  .custom-attribution {
    font-size: 10px;
  }
}

/* .mapboxgl-ctrl-top-left {
  top: 70px !important;
} */

@media (max-width: 600px) {
  .mapboxgl-ctrl-top-left {
    top: 120px !important;
    left: 50%;
    transform: translateX(-50%);
  }
}
