@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.sidebar {
  width: 100%;
  height: calc(100vh - 70px);
  background: linear-gradient(
    135deg,
    #fbfbff 0%,
    #d5e6fd 50%,
    #fbfbff 100%,
    #7db9e8 100%
  );
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 20px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;
}

.profile-info {
  margin-left: 10px;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.profile-link {
  margin-top: 5px;
}

.menu {
  padding: 20px;
  flex-grow: 1;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  padding: 10px 0;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-item.active {
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: bold;
}

.menu-icon {
  margin-right: 10px;
}

.expand-icon {
  margin-left: auto;
}

.submenu-list {
  list-style: none;
  padding: 0;
  margin: 0 0 0 20px;
}

.submenu-item {
  display: block;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  color: #333333;
  text-decoration: none;
  padding: 5px 0;
}

.submenu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.search-dropdown {
  margin-top: 10px;
}

.search-input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.data-container {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.data-card {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .sidebar {
    height: auto;
  }
}
