.sidebarContainer {
  height: calc(100vh - 70px); /* Full height of the viewport */
  /* position: fixed; Fixed position relative to the viewport */
  width: 100%;

  background: linear-gradient(
    135deg,
    #fbfbff 0%,
    #d5e6fd 50%,
    #fbfbff 100%,
    #7db9e8 100%
  );
}

.sidebar {
  width: 300px;
  padding: 10px;
  background-color: #f8f9fa;
  overflow-y: auto;
  height: 100vh;
}

.sidebarContainer {
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Add vertical scroll bar */
}

.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
  font-size: 1.2em;
}

.card p {
  margin: 5px 0;
  color: #333;
}
